<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.le.security.dao.ModelMapper" >
  <resultMap id="BaseResultMap" type="demo.le.security.model.Model" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="CHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, TABLE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from SECURITY_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from SECURITY_MODEL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="demo.le.security.model.Model" >
    insert into SECURITY_MODEL (ID, NAME, TABLE_NAME
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=CHAR}, #{tableName,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="demo.le.security.model.Model" >
    insert into SECURITY_MODEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="demo.le.security.model.Model" >
    update SECURITY_MODEL
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=CHAR},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.le.security.model.Model" >
    update SECURITY_MODEL
    set NAME = #{name,jdbcType=CHAR},
      TABLE_NAME = #{tableName,jdbcType=CHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>