<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 搜索Spring Bean，并将其注册。 -->
	<context:component-scan base-package="demo.le.*.controller" />

	<mvc:annotation-driven />

	<mvc:resources mapping="/resources/**" location="/resources/" />

	<!-- 普通的文件（模版、JSP之类）解析器。允许配置支持JSTL。 -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> -->
	<!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> -->
	<!-- <property name="prefix" value="/WEB-INF/views/" /> -->
	<!-- <property name="suffix" value=".jsp" /> -->
	<!-- </bean> -->

	<!-- <bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" /> -->

	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/views/**/views.xml</value>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:maxUploadSize="500000" />
		
	<bean id="cnManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<!-- 设置为true以忽略对Accept Header的支持 -->
		<property name="ignoreAcceptHeader" value="true" />
		<!-- 在没有扩展名时即: "/user/getUser" 时的默认展现形式 -->
        <property name="defaultContentType" value="text/html" />
		<!-- 用于开启 /user/getUser?format=json 的支持 -->
		<property name="favorParameter" value="true" />
		<!-- 修改参数名，默认是format -->
		<property name="parameterName" value="fm" />
        <!-- 扩展名至mimeType的映射,即 /getUser.json => application/json -->
		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
    </bean>
    
	<!-- 根据客户端的请求，决定不同的形式进行响应，如JSON，XML，Html等等。 -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager" ref="cnManager" />
		<property name="viewResolvers">
			<list>
				<!-- <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" /> -->
				<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> -->
				<!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> -->
				<!-- <property name="prefix" value="/WEB-INF/views/" /> -->
				<!-- <property name="suffix" value=".jsp"></property> -->
				<!-- </bean> -->
				<!-- 对于Tiles管理的JSP。 -->
				<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" />
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<!-- for application/json -->
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
				<!-- for application/xml -->
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller">
						<!-- xstream.XStreamMarshaller -->
						<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="packagesToScan">
								<list>
									<value>demo.le.*.model</value>
								</list>
							</property>
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>