<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="visitBusiness" class="demo.le.main.business.VisitBusiness" p:userService-ref="userServiceImpl" />

	<bean id="visitSecurity" class="demo.le.main.security.VisistSecurity" p:usserPermissionService-ref="userPermissionsServiceImpl" />

	<aop:config>
		<aop:aspect ref="visitSecurity">
			<aop:pointcut expression="execution(* demo.le.main.business.VisistBusiness.login(..))" id="apbark"/>
			
			<aop:after-returning method="loginReturning" arg-names="user" returning="user" pointcut-ref="apbark"/>
		</aop:aspect>
	</aop:config>

</beans>