<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="demo.le.base.dao.UserMapper" />
		<property name="sqlSessionTemplate" ref="simpleSessionTemplate" />
	</bean>
	
	<bean id="persionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="demo.le.base.dao.PersionMapper" />
		<property name="sqlSessionTemplate" ref="simpleSessionTemplate" />
	</bean>
	
	<bean id="degreeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="demo.le.base.dao.DegreeMapper" />
		<property name="sqlSessionTemplate" ref="simpleSessionTemplate" />
	</bean>
	
	<bean id="majorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="demo.le.base.dao.MajorMapper" />
		<property name="sqlSessionTemplate" ref="simpleSessionTemplate" />
	</bean>
	
	<bean id="majorTypeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="demo.le.base.dao.MajorTypeMapper" />
		<property name="sqlSessionTemplate" ref="simpleSessionTemplate" />
	</bean>
	
	<bean id="degreeServiceImpl" class="demo.le.base.service.impl.DegreeServiceImpl" p:baseDao-ref="degreeMapper"/>

	<bean id="persionServiceImpl" class="demo.le.base.service.impl.PersionServiceImpl" p:baseDao-ref="persionMapper"/>

</beans>